.section {
  .notice {
    position: fixed;
    top: 0;
    left: 220px;
    width: calc(100% - 220px);
    line-height: 28px;
    background: #00D1C3;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 600;

    &.edit {
      background: #FFC700;
    }
  }

  .content {
    width: calc(100% - 220px);
    margin-left: 220px;
    padding: 64px 55px;

    .header {
      font-size: 32px;
      font-weight: 700;
    }

    .condition {
      display: flex;
      justify-content: space-between;
      margin: 32px 0 24px;
    }

    .dataTable{
      width: 100%;

      thead, tbody {
        th, td {
          padding: 12px 8px;

          &:first-child {
            padding-left: 12px;
          }
          &:last-child {
            padding-right: 12px;
          }

          &.long {
            max-width: 300px;
          }
        }
      }

      thead {
        th {
          font-size: 14px;
          font-weight: 600;
          background: rgba(0, 0, 0, 0.05);

          &:first-child {
            border-radius: 4px 0 0 4px;
          }
          &:last-child {
            border-radius: 0 4px 4px 0;
          }
        }
      }

      tbody {
        tr {
          &:hover {
            background: rgba(0,0,0,.1);
          }

          td {
            font-size: 16px;
            font-weight: 400;
            border-bottom: 1px solid #0000001A;
            text-align: center;

            &.long {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }

            a, button {
              padding: 2px 8px;
              border-radius: 20px;
              background: #4E5867;
              font-size: 15px;
              font-weight: 400;
              color: #fff;
            }
          }
        }

      }
    }

    .pageIndicator {
      display: flex;
      margin-top: 24px;
      justify-content: center;

      div {
        width: 40px;
        height: 40px;
        background: transparent no-repeat center / contain;
        opacity: 0.4;

        &.disabled {
          opacity: 0.1;
        }
      }

      .prev {
        background-image: url('/images/ico_prev.svg');
      }

      .next {
        background-image: url('/images/ico_next.svg');
      }
    }
  }

  .detail, .modalContainer {
    .card, .modal {
      margin-top: 24px;
      padding: 24px 20px;
      border-radius: 8px;
      background: #FFF;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);

      ul {
        width: calc(50% - 12px);

        &:first-child {
          margin-right: 24px;
        }

        li {
          display: flex;

          &:not(:last-child) {
            margin-bottom: 12px;
          }

          p, span {
            min-width: 100px;
            line-height: 20px;
            font-size: 16px;
            font-weight: 400;
          }

          span {
            margin-left: 16px;
            color: #00000099;
          }

          a {
            text-decoration: underline;
          }
        }
      }

      input, .address {
        width: 100%;
        // line-height: 20px;
        margin-top: 16px;
        padding: 14px 20px;
        border: none;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.05);
        font-size: 16px;
        font-weight: 400;
      }

      select {
        width: 100%;
        line-height: 18px;
        margin-top: 16px;
        padding: 14px 20px;
        border: none;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.05) url('/images/ico_dropdown.svg') no-repeat right / 48px;
        font-size: 16px;
        font-weight: 400;
        appearance: none;
      }

      .title {
        line-height: 18px;
        color: #00000066;
        font-size: 16px;
        font-weight: 700;
      }

      .divider {
        margin: 32px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.10);
      }

      .addBtn {
        display: inline-flex;
        align-items: center;
        line-height: 22px;
        margin-top: 32px;
        padding: 12px 16px;
        border: none;
        border-radius: 4px;
        background: #488EED;
        box-shadow: 0px 2px 12px 2px rgba(0, 0, 0, 0.15);
        color: #FFF;
        font-size: 16px;
        font-weight: 700;

        &:before {
          display: block;
          content: '';
          width: 24px;
          height: 24px;
          margin-right: 6px;
          background: transparent url('/images/ico_plus.svg') no-repeat left / contain;
        }

        &:disabled {
          background: #d3d3d3;
        }
      }

      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
          line-height: 27px;
          color: #000000D9;
          font-size: 20px;
          font-weight: 700;
        }

        button {
          width: 48px;
          height: 48px;
          background: transparent url('/images/ico_dropdown.svg') no-repeat right / contain;
          border: none;

          &.hide {
            transform: rotate(180deg);
          }
        }
      }

      .valuation {
        display: flex;
        margin-top: 16px;

        p {
          line-height: 22px;
          color: #00000080;
        }

        input, textarea {
          // line-height: 25px;
          margin: 0 0 0 16px;
          padding: 0 2px;
          border: none;
          background: none;
          color: #666;
          font-size: 18px;
          font-weight: 700;
        }

        textarea {
          width: 100%;
          resize: none;
        }
      }

      .addImageBtn {
        display: flex;
        align-items: center;
        line-height: 17px;
        margin-top: 16px;
        padding: 7px 0;
        background: none;
        border: none;
        color: #00000099;
        font-size: 15px;
        font-weight: 400;
        text-decoration-line: underline;

        &:before {
          display: block;
          content: '';
          width: 27px;
          height: 27px;
          background: transparent url('/images/ico_file.svg') no-repeat left / contain;
        }
      }

      .entry {
        display: flex;
        align-items: center;
        margin-bottom: 12px;

        h2 {
          margin-right: 16px;
        }

        input {
          display: none;

          & + label {
            line-height: 20px;
            margin: 0 7px;
            padding: 6px 20px;
            border-radius: 20px;
            font-size: 15px;
            font-weight: 400;
            color: #00000099;
          }

          &:checked + label {
            background: #00D1C3;
            font-weight: 700;
            color: #666;
          }
        }
      }

      .date {
        display: flex;
        align-items: center;

        input {
          width: calc(50% - 19px);
        }

        p {
          line-height: 18px;
          margin: 16px 16px 0;
          color: #00000066;
          font-size: 16px;
          font-weight: 700;
        }
      }

      .deleteBtn {
        display: flex;

        button {
          line-height: 22px;
          margin: 20px 0 0 auto;
          padding: 13px 30px;
          background: #fff;
          border-radius: 4px;
          border: 1px solid #000;
          font-size: 16px;
          font-weight: 400;
          color: #000;

          &:disabled {
            background: #d3d3d3;
            border: none;
          }
        }
      }

      .address {
        text-align: left;
      }
    }

    .actionBtn {
      margin-top: 32px;

      button {
        width: 200px;
        line-height: 22px;
        padding: 12px 0;
        border: none;
        border-radius: 4px;
        background: #FFF;
        box-shadow: 0px 2px 12px 2px rgba(0, 0, 0, 0.15);
        font-size: 16px;
        font-weight: 700;
      }
    }
  }

  .detail {
    background: #F5F5F5;
    min-height: 100vh;
  }

  input, label, button, select {
    cursor: pointer;

    &[type=text] {
      cursor: text;
    }

    &:disabled {
      cursor: default;

      & + label {
        cursor: default;
      }
    }
  }
}

.dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: 0.5;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  border-radius: 8px;
  background: #FFF;

  h2 {
    margin-top: 32px;
  }

  h3 {
    line-height: 23px;
    margin-bottom: 32px;
    font-size: 20px;
    font-weight: 600;
  }

  input {
    min-width: 860px;
  }

  textarea {
    width: 100%;
    margin-top: 16px;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.05);
    font-size: 16px;
    font-weight: 400;
    resize: none;
  }

  .entry {
    margin-top: 32px;
  }
}

.flex {
  display: flex;
}
.left {
  margin: 0 auto 0 0;
}
.right {
  margin: 0 0 0 auto;
}
.center {
  margin: 0 auto;
}
.none {
  display: none;
}