.sidebar {
  position: fixed;
  width: 220px;
  height: 100vh;
  background: #4E5867;

  .logo {
    padding: 8px 0;
    background: #1CC8FF;
    text-align: center;
  }

  .menu {
    li {
      padding: 16px 20px;
      color: #FFF;
      font-size: 16px;
      font-weight: 400;
      opacity: 0.6;

      &.active {
        font-weight: 700;
        opacity: 1;
      }
    }
  }

  .logout {
    position: absolute;
    bottom: 34px;
    left: 20px;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid #FFF;
    background: transparent;
    font-size: 14px;
    font-weight: 400;
    color: #fff;

    &:hover {
      background: rgba(255, 255, 255, 0.10);
    }
  }
}